@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --umbra: #1f1f1f;
  --cavernous: #525252;
  --silver-medal: #d6d6d6;
  --white-smoke: #f5f5f5;
  --mercury: #ebebeb;
  --spice-ivory: #f5eedc;
  --casino-lights: #fbf2b3;
  --after-shock: #ffc55a;
  --dried-goldenrod: #e5a92f;
  --paternoster: #c7c7c7;
  --night-blue: #01064a;
  --effervescent-blue: #002b5b;
  --bright-blue: #0065f8;
  --fish-net-blue: #1f436f;
  --neptune-blue: #2d609f;
  --berlin-blue: #5089ce;
  --stoplight: #d81012;
  --rouge-sardes: #eb2030;
  --exotic-liras: #df0e62;
  --fanatic-fuchsia: #ec1899;
  --moderate-green: #5cb338;
}

@theme inline {
  --color-background: var(--background);
  --color-umbra: var(--umbra);
  --color-cavernous: var(--cavernous);
  --color-silver-medal: var(--silver-medal);
  --color-white-smoke: var(--white-smoke);
  --color-mercury: var(--mercury);
  --color-spice-ivory: var(--spice-ivory);
  --color-after-shock: var(--after-shock);
  --color-dried-goldenrod: var(--dried-goldenrod);
  --color-casino-lights: var(--casino-lights);
  --color-paternoster: var(--paternoster);
  --color-foreground: var(--foreground);
  --color-night-blue: var(--night-blue);
  --color-effervescent-blue: var(--effervescent-blue);
  --color-bright-blue: var(--bright-blue);
  --color-fish-net-blue: var(--fish-net-blue);
  --color-neptune-blue: var(--neptune-blue);
  --color-berlin-blue: var(--berlin-blue);
  --color-stoplight: var(--stoplight);
  --color-exotic-liras: var(--exotic-liras);
  --color-fanatic-fuchsia: var(--fanatic-fuchsia);
  --color-rouge-sardes: var(--rouge-sardes);
  --color-moderate-green: var(--moderate-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}
